<style>
    .appstore{
        max-width:125px;
        margin-top: 900px;
        margin-right: 0px;
        
    }
    .home-1{
        margin-left:0px;
        background-image:url(img/home/city_small.png);
        background-size: 100%; 
        border: 1px solid #ccc;
        padding-bottom: 25px;
    }
</style>



<section class="home home-1" style="text-align:center;">
    <a href="https://itunes.apple.com/ru/app/e-musica/id1078247952" target="_blank">
      <img class="appstore" src="img/home/button_download_ios.png">
    </a>
    <a href="https://play.google.com/store/apps/details?id=ru.musica.emusica&hl=ru" target="_blank">
      <img class="appstore" src="img/home/google-play-badge.png">
    </a>
    <div class="home-container">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="title-one"></h1>
            <h4 class="title-two"><br>
 </h4>
          </div>
          <br> </div>
      </div>
    </div>
  </section>
  <!-- End Home -->
  <div class="clearfix"></div>
