
<section class="bar background-white">
    
    <h3 style="text-align:center; font-size:30px;color:rgb(88, 88, 88)">Информация</h3>
    <div class="container">
       
        <ul style="color:black; font-size: 17px; ">
            <li>Были обновлены версии программы под Android и iOS.</li>
            <li>Полностью переработан движок приложения.</li>
            <li>Улучшена работа с каталогом.</li>
            <li>Повышена стабильность работы приложения.</li>
        </ul>
		
		<img src="">
		
    </div>
</section>
