<!--  <head>
<style>
  div {
    display: inline;
     }
</style>

</head>



<body>
 <section class="bar background-white"> 
    <a id="interface"></a>
    
    <h3 style="text-align:center; font-size:30px;color:rgb(88, 88, 88)">Интерфейс</h3>
   <div>
     <div>
         <p>Навигация</p>
         <p>Чтение текста и нот</p>
         <p>Интерактивные сноски</p>
     </div>
     
  
        <div ><img src="http://www.e-musica.ru/bitrix/templates/cobian/images/features/man.png" width=300px;></div>
    
    
      <div>
          <p>Встроенный аудио- и миди-плеер</p>
          <p>Возможность изменять темп</p>
          <p>Встроенный видео-плеер</p>
      </div>
     </div>
	
		
		
    
</section>
</body>  -->


<a id="interface"></a>
<section id="features">
    <div class="container">
         <!-- Start Title -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1 title-section">
                <h4 class="title" style="text-align:center; font-size:30px;color:rgb(88, 88, 88)">Интерфейс</h4>
                <div class="line" style="display: table;
                width: 362px;
                margin: auto;
                position: relative;
                background-image: url(img/title-section/line.png);
                background-position: center center;
                background-repeat: no-repeat;">
                    <i class="icon icon-24 icon-tablet" style="background:url(img/icons/icon24.png) -0px -384px"></i>
                </div>
            </div>
        </div>
        <div class="row wrap-feature-two">
            <div class="col-md-4">
                 <!-- Start Feature Two Left -->
                <ul class="feature-two left">
                    <li> <i class="icon icon-64 icon-compass" style="background:url(img/icons/icon64.png) -384px -192px"></i>
                    <h5>Навигация</h5>
                  
                    <p>
                        содержание -<br>закладки -<br>заметки -
                    </p>
     </li>
                    <li> <i class="icon icon-64 icon-clipboard" style="background:url(img/icons/icon64.png) -64px -192px"></i>
                    <h5>Чтение текста и нот</h5>
                    <p>
    
                    </p>
     </li>
                    <li> <i class="icon icon-64 icon-chat" style="background:url(img/icons/icon64.png) -448px -128px"></i>
                    <h5>Интерактивные сноски</h5>
                    <p>
    
                    </p>
     </li>
                </ul>
            </div>
           
            <div class="col-md-4">
     <img src="http://www.e-musica.ru/bitrix/templates/cobian/images/features/man.png" class="img-responsive img-feature-two" alt="">
            </div>
            <div class="col-md-4">
                <ul class="feature-two right">
                    <li> <i class="icon icon-64 icon-volume" style="background:url(img/icons/icon64.png) -256px -1152px"></i>
                    <h5>Встроенный аудио- и миди-плеер</h5>
                    <p>
    
                    </p>
     </li>
                    <li> <i class="icon icon-64 icon-spaceshuttle" style="background:url(img/icons/icon64.png) -64px -896px; -moz-transform: rotate(90deg); -ms-transform: rotate(90deg);  -webkit-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg);"></i>
                    <h5>Возможность изменять темп</h5>
                    <p>
    
                    </p>
     </li>
                    <li> <i class="icon icon-64 icon-videocameraclassic" style="background:url(img/icons/icon64.png) -128px -1152px"></i>
                    <h5>Встроенный видео-плеер</h5>
                    <p>
    
                    </p>
     </li>
                </ul>
            </div>
        </div>
    </div>
     </section>
    <div class="clearfix">
    </div>
    <br>
        <div class="dark" style="background:rgb(86, 95, 116); color:white; height:300px; width:100%; padding-top:70px;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 feature-three">
                            <div class="img-feature">
                                <span class="count">1</span>
                                <i class="icon icon-64 icon-download" style="background:url(img/icons/icon64.png) -256px -320px"></i>
                            </div>
                            <h5>Скачать приложение</h5>
                            <p><a style="border-bottom:white 2px solid; color:white; text-decoration: none;" href="https://itunes.apple.com/ru/app/e-musica/id1078247952" target="_blank">iOS</a> /
    <a style="border-bottom:white 2px solid; color:white; text-decoration: none;" href="https://play.google.com/store/apps/details?id=ru.musica.emusica&hl=ru" target="_blank">Android</a></p>
                        </div>
                        <div class="col-md-4 col-sm-4 feature-three">
                            <div class="img-feature">
                                <span class="count">2</span>
                                <i class="icon icon-64 icon-tools" style="background:url(img/icons/icon64.png) -320px -1024px"></i>
                            </div>
                            <h5>Установить</h5>
                            <p>Установите на своё устройство.</p>
                        </div>
                        <div class="col-md-4 col-sm-4 feature-three">
                            <div class="img-feature">
                                <span class="count">3</span>
                                <i class="icon icon-64 icon-tablet" style="background:url(img/icons/icon64.png) -0px -1024px"></i>
                            </div>
                            <h5>Использовать</h5>
                            <p>Начните пользоваться</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    