<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

        
        {{ partial "home.html" . }}

        {{ partial "information.html" . }}

        {{ partial "instruktsii.html" . }}

        {{ partial "features.html" . }}

        {{ partial "video.html" . }}

        {{ partial "carousel.html" . }}

        {{ partial "interface.html" . }}

        {{ partial "Katalog.html" . }}

        {{ partial "blog.html" . }}

        {{ partial "contacts.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

    <!-- <script type="text/javascript" src="//web-ptica.ru/VRV-files/knopkavverh/19.js"></script> -->
  </body>
</html>
