#home {
  padding: 0;
}

.navigation {
 background: #fff;
 border-bottom: solid 4px #f1f1f1;
}

.logo {
  margin-top: 0;
}

.inputs {
  font-size: 15px;
  margin-bottom: 1em;
}

input,select,button:focus {
    outline:none;
}

.search {
  margin-right: 1em;
  color: black;
  background: #ffffff;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  padding-left: 8.75px;
  padding-right: 8.75px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 35px;
  width: auto;
}

.sort-title, .select-title {
  color: black;
  font-size: 15px;
  margin-bottom: 0;
}

.sort {
  line-height: 1.42857143;
  font-size: 11px;
  padding: 9px 25px;
  border: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height: auto;
  font-weight: bold;
  letter-spacing: 0.5px;
  border-bottom: solid 2px;
  color: #fff;
  background-color: #727d8f;
  border-color: #4f5d73;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#sort-name, #sort-author {
  width: 170px;
}

.select-title {
  margin-top: 1em;
}

#sel1, #sel2 {
  -webkit-appearance: menulist-button;
  height: 32px;
  color: black;
  color: black;
  background: #ffffff;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  padding-left: 8.75px;
  padding-right: 8.75px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 35px;
  width: auto;
}

.list {
  list-style-type: none;
  margin-top: 2em;
  padding: 0;
  color: black;
}

.element {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.col-sm-1 {
}

.cover {
  height: 100px;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #000;
  opacity: 0.7;
  filter: alpha(opacity = 70) !important;
  display: none;
  z-index: 100;

}

#overlayContent {
  position: fixed;
  width: 100%;
  top: 100px;
  text-align: center;
  display: none;
  overflow: hidden;
  z-index: 100;
}

#contentGallery {
  margin: 0px auto;
}

#imgBig, .cover {
  cursor: pointer;
}

#imgBig {
  max-width: 410px;
}

.name {
  font-weight: bold;
}

.razdel, .podrazdel, .number {
  display: none;
}

.hidden {
  display: none;
}

@media (max-width: 1024px) {
  #overlayContent {
    top: 70px;
  }

  #imgBig {
    max-width: 350px;
  }
}

@media (max-width: 767px) {
  img.logo {
      margin-top: -9px;
      margin-left: 12px;
  }
}

@media (max-width: 550px) {
	section {
		padding-top: 71px;
	}

  .sort {
    padding: 9px 10px;
  }

  #sort-name, #sort-author {
    width: 130px;
  }

  #imgBig {
    max-width: 290px;
  }

  #sel1, #sel2 {
    width: 100%;
  }
}
